Microsoft Visual Studio 2010 SP1
http://www.microsoft.com/web/gallery/install.aspx?appsxml=&appid=VS2010SP1Pack

ASP.NET MVC 3 Tools Update
http://www.microsoft.com/web/gallery/install.aspx?appid=MVC3



The following is needed to run the test app:

Microsoft SQL Server Compact 4
http://www.microsoft.com/web/gallery/install.aspx?appid=SQLCE

Microsoft Visual Studio 2010 SP1 Tools for SQL Server Compact 4.0
http://www.microsoft.com/web/gallery/install.aspx?appid=SQLCEVSTools