<!DOCTYPE html>
<html>
<head>
    <title>Ext JS 4 examples</title>
    <link href="@Url.Content("~/scripts/extjs-4.1/resources/css/ext-all.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/scripts/extjs-4.1/ext-all-debug.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/directapi")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/extjs4/app.js")"></script>
</head>
<body>
    <div id="content" style="padding: 15px"></div>
</body>
</html>
