<!DOCTYPE html>
<html>
<head>
    <title>Ext JS 3 examples</title>
    <link href="http://cdn.sencha.io/ext-3.4.0/resources/css/ext-all.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://cdn.sencha.io/ext-3.4.0/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="http://cdn.sencha.io/ext-3.4.0/ext-all.js"></script>
    <script type="text/javascript" src="@Url.Content("~/directapi")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/extjs3/ContactGrid.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/extjs3/app.js")"></script>
</head>
<body>
    <div id="content" style="padding: 15px"></div>
</body>
</html>
