@{
    ViewBag.Title = "Ext.Direct.Mvc Demo";
}
@section AppScripts {
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Resources/app.css")" />
    <script type="text/javascript" src="@Url.Content("~/App/app.js")"></script>
    <!-- Direct API -->
    <script type="text/javascript" src="@Url.Content("~/Direct/Api")"></script>
}
<div id="main"></div>
