<?xml version="1.0"?>
<configuration>
    
    <!--
        In order to use Ext.Direct.Mvc you must define 'ext.direct' section
    -->
    <configSections>
        <section name="ext.direct" type="Ext.Direct.Mvc.Configuration.DirectSection, Ext.Direct.Mvc"/>
    </configSections>
    
    <!--
        The following options are available:
        * providerName - Required. Name for the generated API provider config.
        * assembly - Required. Name of the assembly that contains the controllers to generate API,
            usually the name of your MVC web project assembly. Multiple assemblies should be separated by commas.
        * namespace - Optional. Namespace for the provider. Used when calling methods from client-side.
        * descriptorGeneration - Optional. Specifies client-side descriptors generation options.
            The value is case-sensitive and can be one of the following:
            "OptOut" : Default. Client-side descriptors are generated for all controller actions. Undesired controllers or actions can be excluded using the DirectIgnoreAttribute
            "OptIn"  : Client-side descriptors are generated only for controllers and actions marked with the DirectIncludeAttribute
        * buffer - Optional. Amount of time in milliseconds to wait before sending a batched request. Default to 10.
        * dateFormat - Optional. Format to use by default when serializing dates. Supported values are "Iso" and "JavaScript".
            If not set or has value other than supported, then M$ format is used by default.
        * debug - Optional. Boolean that indicates whether to include full stack trace in the exception response
            when an intercepted server exception is returned to the client. Default to false. This option should
            never be set to true in production environment because of security concerns.
    -->
    <ext.direct
        providerName="Ext.app.REMOTING_API"
        assembly="Ext.Direct.Mvc.Demo"
        descriptorGeneration="OptOut"
        dateFormat="Iso"
        debug="true"
    />
    
    <connectionStrings>
        <add name="SampleConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Sample.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            </assemblies>
        </compilation>
        <authentication mode="None"/>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
            <namespaces>
                <add namespace="System.Web.Mvc"/>
                <add namespace="System.Web.Mvc.Html"/>
                <add namespace="System.Web.Routing"/>
            </namespaces>
        </pages>
    </system.web>
    <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
        </modules>
        <handlers>
            <remove name="MvcHttpHandler"/>
            <remove name="UrlRoutingHandler"/>
            <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </handlers>
    </system.webServer>
</configuration>
