<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="http://extjs.cachefly.net/extjs/4.0.1/resources/css/ext-all.css" type="text/css" rel="stylesheet" />
    <script src="http://extjs.cachefly.net/extjs/4.0.1/ext-all.js" type="text/javascript"></script>
    @RenderSection("AppScripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
