<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="Stylesheet" type="text/css" href="http://extjs.cachefly.net/ext-3.3.1/resources/css/ext-all.css" />
    <script type="text/javascript" src="http://extjs.cachefly.net/ext-3.3.1/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="http://extjs.cachefly.net/ext-3.3.1/ext-all-debug.js"></script>
    <link rel="Stylesheet" type="text/css" href="http://extjs.cachefly.net/ext-3.3.1/examples/ux/fileuploadfield/css/fileuploadfield.css" />
    <script type="text/javascript" src="http://extjs.cachefly.net/ext-3.3.1/examples/ux/fileuploadfield/FileUploadField.js"></script>
    @RenderSection("AppScripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
