@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Ext.Direct.Mvc Test App</title>
</head>
<body>
    <div>
        <h1>Ext.Direct.Mvc Test App</h1>
        <p>@Html.ActionLink("Click here for Ext JS 3 Demo", "ExtJS3")</p>
        <p>@Html.ActionLink("Click here for Ext JS 4 Demo", "ExtJS4")</p>
        <p>@Html.ActionLink("Click here for Sencha Touch 2 Demo", "Touch")</p>
    </div>
</body>
</html>
